@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,300&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* navbar */
body {
  font-family: "Roboto", sans-serif;
}
.mainnav1 {
  padding: 20px;
}
.navbarmain ul li a:hover {
  border-bottom: rgb(255, 255, 255) 2px solid;
  color: rgb(255, 255, 255);
}
.navbarmain ul li a {
  color: rgb(255, 255, 255);
}
.bghero {
  background: url(/img/hero.avif);
  height: /* 100vh */ ;
}
.airbnblogo {
  width: 28px;
  margin: 0.3rem;
}
/* Hero/Showcase */
.containerhero {
  background: url(/img/eto\ na\ talaga\ hero\ bg.avif) no-repeat center
    center/cover;
  width: 100%;
  height: 100%;
  position: relative;
}
.containerhero::before {
  content: "";
  position: absolute;
  top: 0;
  height: 100%;
  background: rgba(255, 255, 255, 0.9);
}
.aboutusbg {
  background: url(../forest/pexels-eberhard-grossgasteiger-1302242.jpg)
    no-repeat center center/cover;
}
.test {
  background: url(/img/test\ background.jpg) no-repeat center center/cover;
}
.tesst {
  background: #00000052;
}
